section {
  display: flex;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: lightgray;
  margin: 1rem 0;

  div {
    margin: 0.2rem;
  }

  div:not(.description) {
    flex: 1;
    text-align: center;
  }

  .status {
    background-color: yellow;
    border-radius: 33%;
  }

  .description {
    flex: 3;
  }

  .trash {
    text-align: right;
  }

  img {
    width: 1.5rem;
  }
}
